table {
  border-collapse: collapse;
}
table,
th {
  border: 1px solid black;
}
td {
  border: 1px solid black;
}
th {
  padding: 3px;
  width: 30px;
  height: 25px;
}
th,
.even,
.odd,
.table > tbody > tr > * {
  vertical-align: middle;
  text-align: center;
}

.table > tbody > tr > th {
  background: #81b91870;
}

.table > tbody > tr > td {
  background: #80b9181e;
}
